<%= form_for @restaurant do |f| %>
  <p> Rate this Restaurant: </p>

  <%= f.select :rating, options_for_select(%w[Terrible Bad Average Good Great]) %>
  
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>